.boton-personalizado {
    -fx-background-color: rgb(62, 9, 223);
    -fx-text-fill: white;
}

#texo-destacado {
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-color-label-visible: rgb(168, 20, 163);
}

Label {
    -fx-text-fill: black;
    -fx-font-size: 20px;
    -fx-effect: dropshadow(gaussian, white, 3, 1, 0, 0) dropshadow(gaussian, black, 1, 0.5, 0, 0);
}

#tituloLogin {
    -fx-font-size: 42px;
    -fx-font-weight: bold;
    -fx-font-family: "Times New Roman";
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(gaussian, white, 3, 0.8, 0, 0);
}

.root {
    -fx-background-image: url("logo.jpeg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover;
    -fx-background-color: #000000;
}

VBox {
    -fx-background-color: rgba(205, 190, 247, 0.75);
    -fx-padding: 20;
    -fx-background-radius: 10;
}

.etiqueta-especial {
    -fx-text-fill: red;
}